{% extends 'base.html.twig' %}

{% block title %}Chapitre index{% endblock %}

{% block body %}
    <h1>Chapitre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Contenue</th>
                <th>Date</th>
                <th>Catégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chapitre in chapitres %}
            <tr>
                <td>{{ chapitre.id }}</td>
                <td>{{ chapitre.title }}</td>
                <td>{{ chapitre.contenue }}</td>
                <td>{{ chapitre.date ? chapitre.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ chapitre.categorie.nom}}<td>
                <td>
                    <a href="{{ path('app_chapitre_show', {'id': chapitre.id}) }}">Voir</a>
                    <a href="{{ path('app_chapitre_edit', {'id': chapitre.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chapitre_new') }}">Créer un nouveaux chapitre</a>
    <a href="{{ path('app_admin_index') }}"> Voir les utilisateurs</a>
    <a href="{{ path('app_exercice_index') }}">Voir les exercices</a>
    <a href="{{ path('app_correction_index') }}">Voir les corrections</a>
{% endblock %}
