{% extends 'base.html.twig' %}

{% block title %}Chapitre index{% endblock %}

{% block body %}
    <h1>Chapitre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Sous_titre</th>
                <th>Detail</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chapitre in chapitres %}
            <tr>
                <td>{{ chapitre.id }}</td>
                <td>{{ chapitre.title }}</td>
                <td>{{ chapitre.sousTitre }}</td>
                <td>{{ chapitre.detail }}</td>
                <td>{{ chapitre.date ? chapitre.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_chapitre_show', {'id': chapitre.id}) }}">show</a>
                    <a href="{{ path('app_chapitre_edit', {'id': chapitre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chapitre_new') }}">Create new</a>
{% endblock %}
