{% extends 'base.html.twig' %}

{% block title %}Correction index{% endblock %}

{% block body %}
    <h1>Correction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Contenue</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for correction in corrections %}
            <tr>
                <td>{{ correction.id }}</td>
                <td>{{ correction.name }}</td>
                <td>{{ correction.contenue }}</td>
                <td>{{ correction.date ? correction.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_correction_show', {'id': correction.id}) }}">Voir</a>
                    <a href="{{ path('app_correction_edit', {'id': correction.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_correction_new') }}">Créer une nouvelle correction d'un exercice</a>
     <a href="{{ path('app_admin_index') }}"> Voir les utilisateurs</a>
    <a href="{{ path('app_chapitre_index') }}">Voir les chapitres</a>
    <a href="{{ path('app_exercice_index') }}">Voir les exercices</a>
{% endblock %}
