{% extends 'base.html.twig' %}

{% block title %}Exercice index{% endblock %}

{% block body %}
    <h1>Exercice index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Contenue</th>
                <th>Date</th>
                <th>Chapitre</th>
                <th>Correction</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exercice in exercices %}
            <tr>
                <td>{{ exercice.id }}</td>
                <td>{{ exercice.nom }}</td>
                <td>{{ exercice.Contenue }}</td>
                <td>{{ exercice.date ? exercice.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ exercice.chapitre.title }}</td>
                <td>{{ exercice.correction.name }}</td>
                <td>
                    <a href="{{ path('app_exercice_show', {'id': exercice.id}) }}">Voir</a>
                    <a href="{{ path('app_exercice_edit', {'id': exercice.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exercice_new') }}">Créer un nouveau exercice</a>
    <a href="{{ path('app_admin_index') }}"> Voir les utilisateurs</a>
    <a href="{{ path('app_chapitre_index') }}">Voir les chapitres</a>
    <a href="{{ path('app_correction_index') }}">Voir les corrections</a>
{% endblock %}
